<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-12">
            <ul class="header-buttons float-end d-inline-flex mb-0">
              <li>
                <div class="icon-button-demo">
                  <button mat-mini-fab color="primary" (click)="addNew()">
                    <mat-icon class="col-white">add</mat-icon>
                  </button>
                </div>
              </li>
              <li>
                <div class="icon-button-demo">
                  <button mat-mini-fab color="primary" (click)="refresh()">
                    <mat-icon class="col-white">refresh
                    </mat-icon>
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="card">
          <div class="body">
            <div class="table-responsive units">
              <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                <ng-container matColumnDef="emailTemplateid">
                  <mat-header-cell class="pr-0" *matHeaderCellDef>
                    <mat-label style="color: white; font-size: 15px;">Id</mat-label>
                  </mat-header-cell>
                  <mat-cell class="pr-0" *matCellDef="let row">
                    {{row.emailtemplateid}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="emailSubject">
                  <mat-header-cell class="pr-0" *matHeaderCellDef>
                    <mat-label style="color: white; font-size: 15px;">Subject</mat-label>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    {{row.emailsubject}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="emailTemplatename">
                  <mat-header-cell class="pr-0" *matHeaderCellDef>
                    <mat-label style="color: white; font-size: 15px;">Template Name</mat-label>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    {{row.emailtemplatename}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="emailActions">
                  <mat-header-cell class="pr-0" *matHeaderCellDef>
                    <mat-label style="color: white; font-size: 15px;">Actions</mat-label>

                  </mat-header-cell>
                  <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                    <button mat-icon-button class="btn-tbl-edit" title="Edit Info"
                      (click)="editEmailTemplate(row.emailtemplateid)">
                      <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row class="table-row" *matRowDef="let row;let i=index; columns: displayedColumns;"
                  [style.cursor]="'pointer'" matRipple>
                </mat-row>
              </mat-table>
              <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
