<section class="content">
  <div class="container-fluid">
    <!-- <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Outcome</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                            <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Outcome</a>
                        </li>
                        <li class="breadcrumb-item active">All Students</li>
                    </ul>
                </div>
            </div>
        </div> -->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body allStudent">
            <mat-sidenav-container class="task-container">
              <mat-sidenav #sidenav [mode]="mode.value" position="end">
                <div class="data-container">
                  <div class="header">
                    <h2 class="header-title">Enrolled Courses</h2>
                    <div class="header-close m-l-0">
                      <div class="icon-button-demo">
                        <button mat-mini-fab color="primary" (click)="addEnrCourse(studentId)">
                          <mat-icon class="col-white">add</mat-icon>
                        </button>
                      </div>
                      <button mat-icon-button (click)="closeSlider(sidenav)">
                        <mat-icon>close</mat-icon>
                      </button>
                    </div>
                  </div>
                  <div class="row m-0">
                    <div class="body table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th class="course">Course Name</th>
                            <th class="sDate">Start Date</th>
                            <th class="eDate">End Date</th>
                            <th class="action">Actions</th>
                          </tr>
                        </thead>
                        <p class="m-auto text-center" *ngIf="enrolledCourses">{{enrolledCourses.msg}}</p>
                        <tbody *ngIf="enrolledCourses?.length >= 0 && enrolledCourses && enrolledCourses?.length">
                          <tr *ngFor="let course of enrolledCourses">
                            <td class="course">{{course.coursename}}</td>
                            <td class="sDate">{{course.startdate}}</td>
                            <td class="eDate">{{course.enddate}}</td>
                            <td class="action">
                              <button mat-icon-button class="edit" (click)="editEnrCourse(course.studentid)"
                                aria-label="Example icon button with a vertical three dot icon">
                                <mat-icon class="col-white">edit</mat-icon>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </mat-sidenav>
              <mat-sidenav-content>
                <div class="table-responsive all_Student">
                  <div class="row">
                    <div *ngIf="errorsReq.isError" class="col-6 alert alert-danger m-auto text-center" id="closebtn">
                      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                      <strong>Warning!</strong> {{ errorsReq.errorMessage }}
                    </div>
                  </div>
                  <div class="materialTableHeader" style="height: 140px !important">
                    <div class="row m-auto">
                      <div class="col-2">
                        <div class="search row">
                          <div class="col-sm-12">
                            <mat-form-field class="example-full-width mr-5">
                              <mat-label style="color: rgb(7, 7, 7); font-size: 17px;">Course</mat-label>
                              <mat-select [formControl]="courseIntakeFilter">
                                <mat-option *ngFor="let courseIntake of allCourseIntakeDate"
                                  [value]="courseIntake.courseid">
                                  {{ courseIntake.coursecode }} -
                                  {{ courseIntake.coursename }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="search row">
                          <div class="col-sm-12">
                            <mat-form-field class="example-full-width mr-5">
                              <mat-label style="color: rgb(7, 7, 7); font-size: 17px;">Agent</mat-label>
                              <mat-select [formControl]="bulkAgentFilter">
                                <mat-option *ngFor="let agent of allAgents"
                                  [value]="agent.agentid">
                                  {{ agent.agencyname }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="search row">
                          <div class="col-sm-12">
                            <mat-form-field class="example-full-width mr-5">
                              <mat-label style="color: rgb(7, 7, 7); font-size: 17px;">Application Status</mat-label>
                              <mat-select [formControl]="bulkApplicationStatusFilter">
                                <mat-option *ngFor="let status of allApplicationStatus"
                                  [value]="status.applicationstatusid">
                                  {{ status.applicationstatusname }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="search row">
                          <div class="col-sm-12">
                            <mat-form-field class="example-full-width mr-5">
                              <mat-label style="color: rgb(7, 7, 7); font-size: 17px;">Client Id</mat-label>
                               <input matInput type="text" style="color: black" [formControl]="bulkClientIdFilter"/>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="search row">
                          <div class="col-sm-8">
                            <mat-form-field class="example-full-width mr-5">
                              <mat-label style="color: rgb(7, 7, 7); font-size: 17px;">Usi</mat-label>
                               <input matInput type="text" style="color: black" [formControl]="usiFilter"/>
                            </mat-form-field>
                          </div>
                          <div class="col-sm-2">
                            <button mat-mini-fab color="primary" (click)="search(courseIntakeFilter.value,bulkAgentFilter.value,bulkApplicationStatusFilter.value,bulkClientIdFilter.value,usiFilter.value,studentNameFilter.value)">
                              <i class="fa fa-search"></i>
                            </button>
                          </div>
                          <div class="col-sm-2">
                            <button mat-mini-fab color="primary" (click)="addNew()">
                                <mat-icon class="col-white">add</mat-icon>
                              </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="col-sm-12">
                          <mat-form-field class="example-full-width mr-5">
                            <mat-label style="color: rgb(7, 7, 7); font-size: 17px;">Student Name</mat-label>
                             <input matInput type="text" style="color: black" [formControl]="studentNameFilter"/>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                    <ng-container matColumnDef="clientIdo">
                      <mat-header-cell *matHeaderCellDef style="min-height: unset;" style="font-size: 13px !important;">
                        <div class="searchcolumn">
                          <mat-form-field class="filter" floatLabel="never" style="width: 100px">
                            <mat-label style="color: white; font-size: 15px;">Client Id</mat-label>
                            <input matInput [formControl]="clientIdFilter" class="white-cursor">
                          </mat-form-field>
                        </div>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-toggle="tooltip" data-placement="right"
                        title="click to view general info">{{row.clientid}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="fullNameo">
                      <mat-header-cell *matHeaderCellDef style="font-size: 13px !important;">
                        <mat-form-field class="filter" floatLabel="never">
                          <mat-label style="color: white; font-size: 15px;">Full Name</mat-label>
                          <input matInput [formControl]="firstNameFilter" class="white-cursor">
                        </mat-form-field>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-toggle="tooltip" data-placement="right"
                        title="click to view general info">
                        <span
                          style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{row.fullname}}</span>
                      </mat-cell>
                    </ng-container>
                    <!-- <ng-container matColumnDef="lastName">
                                            <mat-header-cell *matHeaderCellDef>
                                                <mat-form-field class="filter" floatLabel="never">
                                                    <mat-label style="color: white; font-size: 15px;">Last Name</mat-label>
                                                    <input matInput [formControl]="lastNameFilter">
                                                </mat-form-field>
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row"  data-toggle="tooltip" data-placement="right" title="click to view general info"> {{row.lastname}}
                                            </mat-cell>
                                        </ng-container> -->
                    <ng-container matColumnDef="emailo">
                      <mat-header-cell *matHeaderCellDef style="font-size: 13px !important;">
                        <mat-form-field class="filter" floatLabel="never">
                          <mat-label style="color: white; font-size: 15px;">Email</mat-label>
                          <input matInput [formControl]="emailFilter" class="white-cursor">
                        </mat-form-field>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-toggle="tooltip" data-placement="right"
                        title="click to view general info">
                        <span
                          style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{row.email}}</span>
                      </mat-cell>
                    </ng-container>
                    <!-- <ng-container matColumnDef="courseCode">
                                            <mat-header-cell *matHeaderCellDef>
                                                <mat-form-field class="filter" floatLabel="never">
                                                    <mat-label style="color: white; font-size: 15px;">Course Code</mat-label>
                                                    <input matInput [formControl]="courseCodeFilter">
                                                </mat-form-field>
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row"  data-toggle="tooltip" data-placement="right" title="click to view general info"> {{row.coursecode}}
                                            </mat-cell>
                                        </ng-container> -->
                    <ng-container matColumnDef="courseNameo">
                      <mat-header-cell *matHeaderCellDef style="font-size: 13px !important;">
                        <mat-form-field class="filter" floatLabel="never">
                          <mat-label style="color: white; font-size: 15px;">Course Name</mat-label>
                          <input matInput [formControl]="courseNameFilter" class="white-cursor">
                        </mat-form-field>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-toggle="tooltip" data-placement="right"
                        title="click to view general info">
                        <span
                          style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{row.coursename}}</span>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="startDateo">
                      <mat-header-cell *matHeaderCellDef style="font-size: 13px !important;">
                        <mat-form-field class="filter" floatLabel="never" style="width: 90px">
                          <mat-label style="color: white; font-size: 15px;">Start Date</mat-label>
                          <input matInput [formControl]="startDateFilter" class="white-cursor">
                        </mat-form-field>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-toggle="tooltip" data-placement="right"
                        title="click to view general info"> {{row.startDate}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="endDateo">
                      <mat-header-cell *matHeaderCellDef style="font-size: 13px !important;">
                        <mat-form-field class="filter" floatLabel="never" style="width: 90px">
                          <mat-label style="color: white; font-size: 15px;">End Date</mat-label>
                          <input matInput [formControl]="endDateFilter" class="white-cursor">
                        </mat-form-field>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-toggle="tooltip" data-placement="right"
                        title="click to view general info"> {{row.endDate}}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actionso">
                      <mat-header-cell class="pr-0" *matHeaderCellDef>
                        <mat-label style="color: white; font-size: 15px;">Actions</mat-label>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                        <button mat-icon-button class="btn-tbl-edit" title="Edit Info"
                          (click)="editStudent(row.studentenrolmentid)">
                          <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                        </button>
                        <button mat-icon-button class="btn-tbl-edit" title="Edit Class Setup"
                          (click)="additionalOutcome(row.studentenrolmentid)">
                          <mat-icon aria-label="Edit" class="col-white">note_add</mat-icon>
                        </button>
                        <!-- <button mat-icon-button class="btn-tbl-veiw-enrol" title="Add Course" (click)="addEnrCourse(studentId)">
                                                    <mat-icon aria-label="Add" style="color:blue" class="col-white">add_course</mat-icon>
                                                </button> -->
                        <!-- <div class="icon-button-demo">
                                                    <button mat-mini-fab color="primary" (click)="addEnrCourse(studentId)">
                                                        <mat-icon class="col-white">add</mat-icon>
                                                    </button>
                                                </div> -->
                      </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"> </mat-header-row>
                    <mat-row class="table-row" [class.focus]="highlighter === i" tabindex="1"
                      *matRowDef="let row;let i=index; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                    </mat-row>
                  </mat-table>
                  <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
              </mat-sidenav-content>
            </mat-sidenav-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
