<section class="content">
  <div class="container-fluid">
    <div class="row clearfix editCourseIntake">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Assign Units</h2>
          </div>
          <div class="body">
            <!-- <div class="row">
              <div *ngIf="errorsReqEn.isError" class="alert alert-danger col-4 m-auto" id="closebtn">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>Warning!</strong> {{ errorsReqEn.errorMessage }}
              </div>
            </div> -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto my-4 text-end">
              <button type="button" style="margin-bottom: 20px;" mat-raised-button color="primary"
                (click)="addMoreUnits()">
                Add More Units
              </button>
            </div>
            <form [formGroup]="HFormGroup1" (ngSubmit)="onAddTrainingActivity()">
              <div class="mt-4">
                <div class="newCourseUnit">
                  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell" formArrayName="Rows">
                    <ng-container matColumnDef="rowID">
                      <mat-header-cell class="pr-0 mw-10" *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                      </mat-header-cell>
                      <mat-cell class="pr-0 mw-10" *matCellDef="let row; let i=index" [formGroupName]="i">
                        <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ounitCode">
                      <mat-header-cell class="pr-0 mw-10" *matHeaderCellDef>
                        <mat-label style="color: white; font-size: 15px;">Unit
                          Code</mat-label>
                      </mat-header-cell>
                      <mat-cell class="pr-0 mw-10" *matCellDef="let row; let i=index" [formGroupName]="i">
                        <span class="ml-2">{{row.unitCode}}</span>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ounitName">
                      <mat-header-cell class="pr-0" *matHeaderCellDef>
                        <mat-label style="color: white; font-size: 15px;">Unit
                          Name</mat-label>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
                        <input matInput type="text" name="" id="" value="{{row.unitId}}" formControlName="unitId"
                          hidden>
                        {{row.unitName}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ounitType">
                      <mat-header-cell class="pr-0" *matHeaderCellDef>
                        <section class="example-section">
                          <div class="row">
                            <mat-label style="color: white; font-size: 15px;">Unit
                              Type</mat-label>
                          </div>
                        </section>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row; let i=index" [formGroupName]="i" class="pr-0">
                        <section class="example-section unitsRadio">
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="col-sm-12">
                                <div class="group">
                                  <input type="radio" id="unitTypeId{{row.rowID}}" name="unittype{{row.rowID}}"
                                    value="C" [attr.data-rowid]="row.rowID" [checked]="row.unitType == 'C'"
                                    (change)="UnitRowChange($event)">
                                  <label class="pr-3">Core</label>
                                  <input type="radio" id="unitTypeId{{row.rowID}}" name="unittype{{row.rowID}}"
                                    value="E" [attr.data-rowid]="row.rowID" [checked]="row.unitType == 'E'"
                                    (change)="UnitRowChange($event)">
                                  <label>Elective</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ooutcomeNat">
                      <mat-header-cell class="pr-0" *matHeaderCellDef [ngClass]="{'selected-value': outcome}">
                        <mat-form-field class="example-full-width mb-3" style="width: 90%;">
                          <mat-label style="color: white;">Outcome National</mat-label>
                          <mat-select [(ngModel)]="outcome" [ngModelOptions]="{standalone: true}"
                            (ngModelChange)="outComeChange($event)">
                            <mat-option *ngFor="let outNational of outcomenational"
                              [value]="outNational.outcomenationalid">
                              {{ outNational.outcomenationalcode }} - {{
                              outNational.outcomenationalname }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row; let i=index" [formGroupName]="i" class="pr-0">
                        <mat-form-field class="example-full-width mb-3" style="width: 90%;">
                          <mat-label>Outcome National</mat-label>
                          <mat-select formControlName="outcomeNationalId" [value]="outcome">
                            <mat-option *ngFor="let outNational of outcomenational"
                              [value]="outNational.outcomenationalid">
                              {{ outNational.outcomenationalcode
                              }} - {{
                              outNational.outcomenationalname }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ostartDate">
                      <mat-header-cell class="pr-0" *matHeaderCellDef>
                        <mat-form-field class="example-full-width mb-3" style="width: 90%;">
                          <mat-label>Start Date</mat-label>
                          <input matInput [matDatepicker]="thSdPicker" (ngModelChange)="sDateChange($event)"
                            [(ngModel)]="stDate" [ngModelOptions]="{standalone: true}">
                          <mat-datepicker-toggle matSuffix [for]="thSdPicker">
                          </mat-datepicker-toggle>
                          <mat-datepicker #thSdPicker>
                          </mat-datepicker>
                        </mat-form-field>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row; let i=index" [formGroupName]="i" class="pr-0">
                        <mat-form-field class="example-full-width mb-3" style="width: 90%;">
                          <mat-label>Start Date</mat-label>
                          <input matInput [matDatepicker]="sDpicker" formControlName="startDate">
                          <mat-datepicker-toggle matSuffix [for]="sDpicker">
                          </mat-datepicker-toggle>
                          <mat-datepicker #sDpicker>
                          </mat-datepicker>
                        </mat-form-field>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="oendDate">
                      <mat-header-cell class="pr-0" *matHeaderCellDef>
                        <mat-form-field class="example-full-width mb-3" style="width: 90%;">
                          <mat-label>End Date</mat-label>
                          <input matInput [matDatepicker]="thEdPicker" (ngModelChange)="eDateChange($event)"
                            [(ngModel)]="enDate" [ngModelOptions]="{standalone: true}" [min]="stDate">
                          <mat-datepicker-toggle matSuffix [for]="thEdPicker">
                          </mat-datepicker-toggle>
                          <mat-datepicker #thEdPicker>
                          </mat-datepicker>
                        </mat-form-field>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row; let i=index" [formGroupName]="i" class="pr-0">
                        <mat-form-field class="example-full-width mb-3" style="width: 90%;">
                          <mat-label>End Date</mat-label>
                          <input matInput [matDatepicker]="sDpicker" formControlName="endDate">
                          <mat-datepicker-toggle matSuffix [for]="sDpicker">
                          </mat-datepicker-toggle>
                          <mat-datepicker #sDpicker>
                          </mat-datepicker>
                        </mat-form-field>
                      </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row class="table-row" *matRowDef="let row;let i=index; columns: displayedColumns;"
                      [style.cursor]="'pointer'" matRipple>
                    </mat-row>
                  </mat-table>
                  <mat-paginator #Tpaginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

                </div>
              </div>
              <div>
                <button mat-raised-button color="primary">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
