<div class="container">
  <h3 mat-dialog-title>Are you sure to delete?</h3>
  <div mat-dialog-content *ngIf="data.flag == 'Item'">
      <ul class="clearfix">
          <li>
              <p><span class="font-weight-bold tab"> Item Name: </span>{{ data.itemname }}</p>
          </li>
          <li>
              <p><span class="font-weight-bold tab"> Default Amount: </span>{{data.defaultamount}}</p>
          </li>
      </ul>
  </div>
  <div mat-dialog-content *ngIf="data.flag == 'AmountType'">
    <ul class="clearfix">
        <li>
            <p><span class="font-weight-bold tab"> Amount Type: </span>{{ data.amounttype }}</p>
        </li>
    </ul>
</div>
  <div mat-dialog-actions class="mb-1">
      <button mat-flat-button color="warn" [mat-dialog-close]="1" (click)="confirmDelete()">
          Delete
      </button>
      <button mat-flat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
  </div>
</div>
