<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">New Course Unit</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Course Units</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Course Unit</a>
            </li>
            <li class="breadcrumb-item active">New</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 newCourseUnit">
        <div class="card">
          <div class="header">
            <h2>New Course Unit</h2>
          </div>
          <div class="body">
            <mat-horizontal-stepper linear #stepper>
              <mat-step>
                <!-- <ng-template matStepLabel>Select Course</ng-template> -->
                <ng-template matStepLabel>
                  <span [ngClass]="this.stepLabel == '1' ? 'highlight' : 'nonHighlight'">
                    Select Course
                  </span>
                </ng-template>
                <div class="card">
                  <div class="table-responsive selectedCourse">
                    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                      <ng-container matColumnDef="courseCode">
                        <mat-header-cell class="pr-0 mw-10" *matHeaderCellDef>
                          <mat-form-field class="filter" floatLabel="never">
                            <mat-label>Course Code</mat-label>
                            <input matInput [formControl]="courseCodeFilter">
                          </mat-form-field>
                        </mat-header-cell>
                        <mat-cell class="pr-0 mw-10" *matCellDef="let row">
                          {{row.coursecode}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="courseName1">
                        <mat-header-cell class="pr-0" *matHeaderCellDef>
                          <div class="searchcolumn">
                            <mat-form-field class="filter" floatLabel="never">
                              <mat-label>Course Name</mat-label>
                              <input matInput [formControl]="courseNameFilter">
                            </mat-form-field>
                          </div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          {{row.coursename}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="actions">
                        <mat-header-cell class="pr-0" *matHeaderCellDef>Actions</mat-header-cell>
                        <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                          <button mat-mini-fab color="primary" (click)="slectedCourse(row.courseid, stepper)">
                            <mat-icon aria-label="Edit" class="col-white">arrow_forward</mat-icon>
                          </button>
                        </mat-cell>
                      </ng-container>
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row class="table-row" *matRowDef="let row;let i=index; columns: displayedColumns;"
                        [style.cursor]="'pointer'" matRipple>
                      </mat-row>
                    </mat-table>
                    <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                      [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                  </div>
                </div>
              </mat-step>
              <mat-step [stepControl]="HFormGroup1" class="mt-3">
                <div class="row pb-3">
                  <div *ngIf="errors.isError" class="col-4 alert alert-danger m-auto text-center" id="closebtn">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>Warning!</strong> {{ errors.errorMessage }}
                  </div>
                </div>
                <div class="card">
                  <form [formGroup]="HFormGroup1" (ngSubmit)="onCourseUnitSubmmit()">
                    <!-- <ng-template matStepLabel>Select Unit</ng-template> -->
                    <ng-template matStepLabel>
                      <span [ngClass]="this.stepLabel == '2' ? 'highlight' : 'nonHighlight'">
                        Select Unit
                      </span>
                    </ng-template>
                    <div class="newCourseUnit">
                      <mat-table #table [dataSource]="dataSource1" matSort #TableTwoSort="matSort" class="mat-cell"
                        formArrayName="Rows">
                        <ng-container matColumnDef="rowID">
                          <mat-header-cell class="pr-0 mw-10" *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                          </mat-header-cell>
                          <mat-cell class="pr-0 mw-10" *matCellDef="let row; let i=index" [formGroupName]="i">
                            <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="unitCode">
                          <mat-header-cell class="pr-0 mw-10" *matHeaderCellDef>
                            <mat-form-field class="filter" floatLabel="never">
                              <mat-label>Unit Code</mat-label>
                              <input matInput [formControl]="unitCodeFilter">
                            </mat-form-field>
                          </mat-header-cell>
                          <mat-cell class="pr-0 mw-10" *matCellDef="let row; let i=index" [formGroupName]="i">
                            <span class="ml-2">{{row.unitCode}}</span>
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="unitName">
                          <mat-header-cell class="pr-0" *matHeaderCellDef>
                            Unit Name
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
                            <input matInput type="text" name="" id="" value="{{row.unitId}}" formControlName="unitId"
                              hidden>
                            {{row.unitName}}
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="unitType">
                          <mat-header-cell class="pr-0" *matHeaderCellDef>
                            <section class="example-section">
                              <div class="row">
                                <label class="example-margin col-sm-12">Unit Type</label>
                                <div class="col-sm-12">
                                  <div class="group">
                                    <input type="radio" id="unitTypeId" name="unit" value="C" [(ngModel)]="bulkUnitType"
                                      [ngModelOptions]="{standalone: true}" (change)="UnitBulkSet()">
                                    <label>Core</label>
                                    <input type="radio" id="unitTypeId" name="unit" value="E" [(ngModel)]="bulkUnitType"
                                      [ngModelOptions]="{standalone: true}" (change)="UnitBulkSet()">
                                    <label>Elective</label>
                                  </div>
                                </div>
                              </div>
                            </section>
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row; let i=index" [formGroupName]="i" class="pr-0">
                            <section class="example-section unitsRadio">
                              <div class="row">
                                <div class="col-sm-12">
                                  <div class="col-sm-12">
                                    <div class="group">
                                      <input type="radio" id="unitTypeId{{row.rowID}}" name="unitType{{row.rowID}}"
                                        value="C" [attr.data-rowid]="row.rowID"
                                        [checked]="setUnitTypeVal[row.rowID] == 'C'" (change)="UnitRowChange($event)">
                                      <label class="pr-3">Core</label>
                                      <input type="radio" id="unitTypeId{{row.rowID}}" name="unitType{{row.rowID}}"
                                        value="E" [attr.data-rowid]="row.rowID"
                                        [checked]="setUnitTypeVal[row.rowID] == 'E'" (change)="UnitRowChange($event)">
                                      <label>Elective</label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </section>
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="vetFlag">
                          <mat-header-cell class="pr-0" *matHeaderCellDef>
                            <section class="example-section">
                              <div class="row">
                                <label class="example-margin col-sm-12">VET Flag</label>
                                <div class="col-sm-12">
                                  <input type="radio" id="vetFlagId" name="vetFlag" value="Y" [(ngModel)]="bulkVetFlag"
                                    [ngModelOptions]="{standalone: true}" (change)="vetFlagBulkSet()">
                                  <label>Yes</label>
                                  <input type="radio" id="vetFlagId" name="vetFlag" value="N" [(ngModel)]="bulkVetFlag"
                                    [ngModelOptions]="{standalone: true}" (change)="vetFlagBulkSet()">
                                  <label>No</label>
                                </div>
                              </div>
                            </section>
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row; let i=index" [formGroupName]="i" class="pr-0">
                            <section class="example-section">
                              <div class="row">
                                <div class="col-sm-12">
                                  <input type="radio" id="vetFlagId{{row.rowID}}" name="vetFlag{{row.rowID}}" value="Y"
                                    [attr.data-rowid]="row.rowID" [checked]="setVetFlagVal[row.rowID] == 'Y'"
                                    (change)="vetFlagRowChange($event)">
                                  <label>Yes</label>
                                  <input type="radio" id="vetFlagId{{row.rowID}}" name="vetFlag{{row.rowID}}" value="N"
                                    [attr.data-rowid]="row.rowID" [checked]="setVetFlagVal[row.rowID] == 'N'"
                                    (change)="vetFlagRowChange($event)">
                                  <label>No</label>
                                </div>
                              </div>
                            </section>
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="AVETMISS">
                          <mat-header-cell class="pr-0" *matHeaderCellDef>
                            <section class="example-section">
                              <div class="row">
                                <label class="example-margin col-sm-12">AVETMISS</label>
                                <div class="col-sm-12">
                                  <input type="radio" id="AVETMISSId" name="AVETMISS" value="Y"
                                    [(ngModel)]="bulkAVETMISS" [ngModelOptions]="{standalone: true}"
                                    (change)="AVETMISSBulkSet()">
                                  <label>Yes</label>
                                  <input type="radio" id="AVETMISSId" name="AVETMISS" value="N"
                                    [(ngModel)]="bulkAVETMISS" [ngModelOptions]="{standalone: true}"
                                    (change)="AVETMISSBulkSet()">
                                  <label>No</label>
                                </div>
                              </div>
                            </section>
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row; let i=index" [formGroupName]="i" class="pr-0">
                            <section class="example-section">
                              <div class="row">
                                <div class="col-sm-12">
                                  <input type="radio" id="AVETMISSId{{row.rowID}}" name="AVETMISS{{row.rowID}}"
                                    value="Y" [attr.data-rowid]="row.rowID" [checked]="setAVETMISSVal[row.rowID] == 'Y'"
                                    (change)="AVETMISSRowChange($event)">
                                    <label>Yes</label>
                                    <input type="radio" id="AVETMISSId{{row.rowID}}" name="AVETMISS{{row.rowID}}"
                                    value="N" [attr.data-rowid]="row.rowID" [checked]="setAVETMISSVal[row.rowID] == 'N'"
                                    (change)="AVETMISSRowChange($event)">
                                    <label>No</label>
                                </div>
                              </div>
                            </section>
                          </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
                        <mat-row class="table-row" *matRowDef="let row;let i=index; columns: displayedColumns1;"
                          [style.cursor]="'pointer'" matRipple>
                        </mat-row>
                      </mat-table>
                      <mat-paginator #TableTwoPaginator [length]="dataSource.filteredData.length" [pageIndex]="0"
                        [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                      <div class="p-3">
                        <button mat-raised-button matStepperPrevious color="warn" class="msr-2">Back</button>
                        <button mat-raised-button color="primary">Save</button>
                      </div>
                    </div>
                  </form>
                </div>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>