<section class="content">
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>{{ this.mode }} Installment for "{{ this.paymentPlanName }}"</h2>

          </div>
          <div class="body">
            <div class="row">
              <div *ngIf="errorsReq.isError" class="col-6 alert alert-danger m-auto text-center" id="closebtn">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>Warning!</strong> {{ errorsReq.errorMessage }}
              </div>
            </div>
            <form [formGroup]="HFormGroup1">
              <div class="row">
                <h6>Payment Plan Insatalment Condition:</h6>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <ckeditor formControlName="paymentPlanInstalmentCondition" [editor]="Editor" (ready)="onReady($event)"
                    data="Start writing...."></ckeditor>
                </div>
                <div formArrayName="Rows"
                  *ngFor="let item of HFormGroup1.get('Rows')['controls']; let i = index;  let last = last">
                  <div class="row" [formGroupName]="i">
                    <div class="col-2">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Payment Plan Ins. Order</mat-label>
                        <input matInput type="number" formControlName="paymentPlanInstalmentOrder">
                      </mat-form-field>
                    </div>
                    <div class="col-3">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Payment Plan Ins. Order Desc.</mat-label>
                        <input matInput formControlName="paymentPlanInstalmentOrderDesc">
                      </mat-form-field>
                    </div>
                    <div class="col-3">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Finance Item</mat-label>
                        <mat-select formControlName="financeItemId">
                          <mat-option *ngFor="let item of allFinanceItem" [value]="item.financeitemid">
                            {{ item.itemname }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-2">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Payment Ins. Due Date</mat-label>
                        <input matInput [matDatepicker]="basicDatepicker" formControlName="paymentPlanInstalmentDueDate">
                        <mat-datepicker-toggle matSuffix [for]="basicDatepicker">
                        </mat-datepicker-toggle>
                        <mat-datepicker #basicDatepicker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-1" style="padding-top: 7px;">
                      <button type="button" mat-mini-fab color="accent"
                        aria-label="Example icon button with a plus one icon" (click)="addRows()">
                        <mat-icon>plus_one</mat-icon>
                      </button>
                    </div>
                    <div class="col-1" style="padding-top:7px;">
                      <button type="button" mat-mini-fab color="warn"
                        aria-label="Example icon button with a plus one icon" (click)="removeRows(i)">
                        <mat-icon>exposure_neg_1</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div>
              <button mat-raised-button color="primary" (click)="submitInstallment()">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
