<section class="content">
  <div class="container-fluid">
    <!-- <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">New Course Intake Date</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Courses</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Course Intake Date</a>
            </li>
            <li class="breadcrumb-item active">New</li>
          </ul>
        </div>
      </div>
    </div> -->
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 newCourseIntake">
        <div class="card">
          <div class="header">
            <h2>New Course Intake Date</h2>
          </div>
          <div class="body">
            <mat-horizontal-stepper linear #stepper>
              <mat-step [stepControl]="HFormGroup1">
                <div class="row">
                  <div *ngIf="requiredError1.isError" class="alert alert-danger col-4 m-auto" id="closebtn">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>Warning!</strong> {{ requiredError1.errorMessage }}
                  </div>
                </div>
                <div class="row">
                  <div *ngIf="dateValidate1.isError" class="alert alert-danger col-4 m-auto" id="closebtn">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>Warning!</strong> {{ dateValidate1.errorMessage }}
                  </div>
                </div>
                <div class="row">
                  <div *ngIf="duplCourseIntakeErr" class="alert alert-danger col-4 m-auto" id="closebtn">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>Warning!</strong> {{ duplCourseIntakeErrMsg }}
                  </div>
                </div>
                <form [formGroup]="HFormGroup1" (ngSubmit)="onCourseIntakeSubmmit(stepper)">
                  <!-- <ng-template matStepLabel>Course Intake</ng-template> -->
                  <ng-template matStepLabel>
                    <span [ngClass]="this.stepLabel == '1' ? 'highlight' : 'nonHighlight'">
                      Course Intake
                    </span>
                  </ng-template>
                  <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3">
                        <mat-label>Class Name</mat-label>
                        <input matInput formControlName="className" type="text"  required>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3">
                        <mat-label>Course</mat-label>
                        <mat-select formControlName="courseId" (change)="unitsByCourses()" (ngModelChange)="courseName($event)"  required>
                          <mat-option *ngFor="let course of courses" [value]="course.courseid">
                            {{ course.coursecode }} - {{ course.coursename }}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="HFormGroup1.get('courseId').hasError('required')">
                          Course is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3">
                        <mat-label>Certificate Course Name</mat-label>
                        <input matInput formControlName="certificateCourseName" type="text"  required>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="basicDatepicker1" formControlName="startDate"
                          (ngModelChange)="compareTwoDates1()" required>
                        <mat-datepicker-toggle matSuffix [for]="basicDatepicker1">
                        </mat-datepicker-toggle>
                        <mat-datepicker #basicDatepicker1></mat-datepicker>
                        <mat-error *ngIf="HFormGroup1.get('startDate').hasError('required')">
                          Please select start date
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2" style="padding-top: 10px">
                      <section class="example-section mb-4">
                        <label class="example col-md-5 col-sm-5">Course Duration Type</label>
                        <mat-radio-group class="col-md-7 col-sm-7" formControlName="courseDurationType">
                          <mat-radio-button
                            class="example-margin d-block d-sm-inline-block  d-md-inline-block d-lg-inline-block"
                            value="W">Week</mat-radio-button>
                          <mat-radio-button
                            class="example-margin d-block d-sm-inline-block  d-md-inline-block d-lg-inline-block"
                            value="D">Day</mat-radio-button>
                        </mat-radio-group>
                      </section>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3">
                        <mat-label>Course Duration</mat-label>
                        <input matInput formControlName="courseDuration" type="number" (ngModelChange)="setEndDate($event)" required>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="basicDatepicker2" formControlName="endDate"
                          (ngModelChange)="compareTwoDates1()" required>
                        <mat-datepicker-toggle matSuffix [for]="basicDatepicker2">
                        </mat-datepicker-toggle>
                        <mat-datepicker #basicDatepicker2></mat-datepicker>
                        <mat-error *ngIf="HFormGroup1.get('endDate').hasError('required') || dateValidate1.isError">
                          Please select end date
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3">
                        <mat-label>Venue Room</mat-label>
                        <mat-select formControlName="venueroomId" required>
                          <mat-option *ngFor="let venue of venueroom" [value]="venue.venueroomid">
                            {{ venue.venuename }}<span *ngIf="venue.roomnumber"> - {{ venue.roomnumber }}</span>
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="HFormGroup1.get('venueroomId').hasError('required')">
                          Venue Room is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                      <section class="row example-section mb-4">
                        <label class="example col-lg-3 col-md-4 col-sm-5">Publish</label>
                        <mat-radio-group class="col-lg-9 col-md-8 col-sm-7" formControlName="publish">
                          <mat-radio-button
                            class="example-margin d-block d-xs-inline-block d-sm-inline-block d-md-inline-block-block d-lg-inline-block"
                            value="Y">Yes</mat-radio-button>
                          <mat-radio-button
                            class="example-margin d-block d-xs-inline-block d-sm-inline-block d-md-inline-block d-lg-inline-block"
                            value="N">No</mat-radio-button>
                        </mat-radio-group>
                      </section>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3">
                        <mat-label>International Fee</mat-label>
                        <input matInput formControlName="internationTutionFees" type="number">
                      </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3">
                        <mat-label>Domestic Fee</mat-label>
                        <input matInput formControlName="domesticTutionFees" type="number">
                      </mat-form-field>
                    </div>
                  </div>
                  <div>
                    <button mat-raised-button color="primary">Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="HFormGroup2">
                <form [formGroup]="HFormGroup2" (ngSubmit)="onUnitSubmit(stepper)">
                  <!-- <ng-template matStepLabel>Units</ng-template> -->
                  <ng-template matStepLabel>
                    <span [ngClass]="this.stepLabel == '2' ? 'highlight' : 'nonHighlight'">
                      Units
                    </span>
                  </ng-template>
                  <div class="newCourseUnit" *ngIf="this.stepLabel > 1">
                    <mat-table #table [dataSource]="dataSource1" matSort class="mat-cell" formArrayName="unitRows" *ngIf="dataSource1 != undefined">
                      <ng-container matColumnDef="rowID">
                        <mat-header-cell class="pr-0 mw-10" *matHeaderCellDef>
                          <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" disabled>
                          </mat-checkbox>
                        </mat-header-cell>
                        <mat-cell class="pr-0 mw-10" *matCellDef="let row; let i=index" [formGroupName]="i">
                          <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" disabled>
                          </mat-checkbox>
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="unitCode">
                        <mat-header-cell class="pr-0 mw-10" *matHeaderCellDef>
                          <mat-label>Unit Code</mat-label>
                        </mat-header-cell>
                        <mat-cell class="pr-0 mw-10" *matCellDef="let row; let i=index" [formGroupName]="i">
                          <span class="ml-2">{{row.unitCode}}</span>
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="unitName">
                        <mat-header-cell class="pr-0" *matHeaderCellDef>
                          Unit Name
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
                          <input matInput type="text" name="" id="" value="{{row.unitId}}" formControlName="unitId"
                            hidden>
                          {{row.unitName}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="unitType">
                        <mat-header-cell class="pr-0" *matHeaderCellDef>
                              <label>Unit Type</label>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row; let i=index" [formGroupName]="i" class="pr-0">
                          <section class="example-section unitsRadio">
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="group">
                                  <input type="radio" id="unitTypeId{{row.rowID}}" name="unitType{{row.rowID}}"
                                    value="C" [attr.data-rowid]="row.rowID" [checked]="row.unitType == 'C'"
                                    (change)="UnitRowChange($event)">
                                  <label class="pr-3">Core</label>
                                  <input type="radio" id="unitTypeId{{row.rowID}}" name="unitType{{row.rowID}}"
                                    value="E" [attr.data-rowid]="row.rowID" [checked]="row.unitType == 'E'"
                                    (change)="UnitRowChange($event)">
                                  <label>Elective</label>
                                </div>
                              </div>
                            </div>
                          </section>
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="vetFlag">
                        <mat-header-cell class="pr-0" *matHeaderCellDef>
                              <label>VET Flag</label>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row; let i=index" [formGroupName]="i" class="pr-0">
                          <section class="example-section">
                            <div class="row">
                              <div class="col-sm-12">
                                <input type="radio" id="vetFlagId{{row.rowID}}" name="vetFlag{{row.rowID}}" value="Y"
                                  [attr.data-rowid]="row.rowID" [checked]="row.vetFlag == 'Y'"
                                  (change)="vetFlagRowChange($event)">
                                <label>Yes</label>
                                <input type="radio" id="vetFlagId{{row.rowID}}" name="vetFlag{{row.rowID}}" value="N"
                                  [attr.data-rowid]="row.rowID" [checked]="row.vetFlag == 'N'"
                                  (change)="vetFlagRowChange($event)">
                                <label>No</label>
                              </div>
                            </div>
                          </section>
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="AVETMISS">
                        <mat-header-cell class="pr-0" *matHeaderCellDef>
                              <label>Avetmiss Report</label>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row; let i=index" [formGroupName]="i" class="pr-0">
                          <section class="example-section">
                            <div class="row">
                              <div class="col-sm-12">
                                <input type="radio" id="AVETMISSId{{row.rowID}}" name="AVETMISS {{row.rowID}}"
                                  value="Y" [attr.data-rowid]="row.rowID" [checked]="row.AVETMISS  == 'Y'"
                                  (change)="AVETMISSRowChange($event)">
                                  <label>Yes</label>
                                  <input type="radio" id="AVETMISSId{{row.rowID}}" name="AVETMISS {{row.rowID}}"
                                  value="N" [attr.data-rowid]="row.rowID" [checked]="row.AVETMISS  == 'N'"
                                  (change)="AVETMISSRowChange($event)">
                                  <label>No</label>
                              </div>
                            </div>
                          </section>
                        </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
                      <mat-row class="table-row" *matRowDef="let row;let i=index; columns: displayedColumns1;"
                        [style.cursor]="'pointer'" matRipple>
                      </mat-row>
                    </mat-table>
                    <mat-paginator #tableTwoPaginator [length]="dataSource1.filteredData.length" [pageIndex]="0"
                      [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                  </div>
                  <div>
                    <!-- <button mat-raised-button matStepperPrevious color="warn" class="msr-3">Back</button> -->
                    <button mat-raised-button color="primary">Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="HFormGroup3">
                <form [formGroup]="HFormGroup3" (ngSubmit)="onConfirmationSubmit(stepper)">
                  <!-- <ng-template matStepLabel>Confirmation</ng-template> -->
                  <ng-template matStepLabel>
                    <span [ngClass]="this.stepLabel == '3' ? 'highlight' : 'nonHighlight'">
                      Confirmation
                    </span>
                  </ng-template>
                  <div class="mt-4">
                    <div class="row">
                      <div class="col-sm-12">
                        <mat-form-field class="example-full-width mb-3">
                          <mat-label>Class Name</mat-label>
                          <input matInput formControlName="className" required readonly>
                          <mat-error *ngIf="HFormGroup3.get('className').hasError('required')">
                            Class Name is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="card">
                        <div class="body table-responsive unitArray">
                          <div class="table table-striped">
                            <div class="table-head row">
                              <div class="head-col-unit">
                                <mat-checkbox aria-label="Select All" checked="checked"
                                  (change)="$event ? toggleAll($event) : null" disabled>
                                  Unit Code
                                </mat-checkbox>
                              </div>
                              <div class="head-col-unitName">
                                <span style="color: #fff">Unit Name</span>
                              </div>
                              <div class="head-col-unitType">
                                <span style="color: #fff">Unit Type</span>
                              </div>
                              <div class="head-col-vetFlag">
                                <span style="color: #fff">Vet Flag</span>
                              </div>
                              <div class="head-col-AVETMISS">
                                <span style="color: #fff">Avetmiss</span>
                              </div>

                            </div>
                            <div formArrayName="Rows">
                              <div *ngFor="let row of HFormGroup3.get('Rows')['controls']; let i=index">
                                <div class="table-body row" [formGroupName]="i">
                                  <div class="body-col-unit">
                                    <mat-checkbox (click)="$event.stopPropagation()" checked="checked"
                                      (change)="$event ? toggle(row, $event) : null" formControlName="statusCheck" disabled>
                                      {{row.get('unitCode').value}}
                                    </mat-checkbox>
                                  </div>
                                  <div class="body-col-unitName">
                                    <span>{{row.get('unitName').value}}</span>
                                  </div>
                                  <div class="body-col-unitType" *ngIf="row.get('unitType').value == 'C'">
                                    <span>&nbsp;&nbsp;</span>
                                    <span>Core</span>
                                  </div>
                                  <div class="body-col-unitType" *ngIf="row.get('unitType').value == 'E'">
                                    <span>&nbsp;&nbsp;</span>
                                    <span>Elective</span>
                                  </div>
                                  <div class="body-col-vetFlag" *ngIf="row.get('vetFlag').value == 'Y'">
                                    <span>&nbsp;&nbsp;</span>
                                    <span>Yes</span>
                                  </div>
                                  <div class="body-col-vetFlag" *ngIf="row.get('vetFlag').value == 'N'">
                                    <span>&nbsp;&nbsp;</span>
                                    <span>No</span>
                                  </div>
                                  <div class="body-col-AVETMISS" *ngIf="row.get('AVETMISS').value == 'Y'">
                                    <span>&nbsp;&nbsp;</span>
                                    <span>Yes</span>
                                  </div>
                                  <div class="body-col-AVETMISS" *ngIf="row.get('AVETMISS').value == 'N'">
                                    <span>&nbsp;&nbsp;</span>
                                    <span>No</span>
                                  </div>


                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <button mat-raised-button matStepperPrevious color="warn" class="msr-4">Back</button>
                      <button mat-raised-button color="primary">Confirm</button>
                    </div>
                  </div>
                </form>
              </mat-step>
              <!-- <mat-step [stepControl]="HFormGroup4">
                <div class="row">
                  <div *ngIf="dateValidate2.isError" class="alert alert-danger col-4 m-auto" id="closebtn">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>Warning!</strong> {{ dateValidate2.errorMessage }}
                  </div>
                </div>
                <div class="row">
                  <div *ngIf="requiredError2.isError" class="alert alert-danger col-4 m-auto" id="closebtn">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>Warning!</strong> {{ requiredError2.errorMessage }}
                  </div>
                </div>
                <div class="row">
                  <div *ngIf="timeValidator.isError" class="alert alert-danger col-5 m-auto" id="closebtn">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>Warning!</strong> {{ timeValidator.errorMessage }}
                  </div>
                </div>
                <form [formGroup]="HFormGroup4" (ngSubmit)="onClassSetupSubmmit()">
                  <ng-template matStepLabel>Class Schedule</ng-template>
                  <div class="mt-4">
                    <div class="row">
                      <div class="col-sm-12">
                        <mat-form-field class="example-full-width mb-3">
                          <mat-label>Class Name</mat-label>
                          <input matInput formControlName="className" required>
                          <mat-error *ngIf="HFormGroup4.get('className').hasError('required')">
                            Class Name is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="card">
                        <div class="body table-responsive classSetup">
                          <div class="table table-striped">
                            <div class="table-head row">
                              <div class="head-col-units">
                                <mat-checkbox aria-label="Select All" checked="checked"
                                  (change)="$event ? toggleAll($event) : null">
                                  Units
                                </mat-checkbox>
                              </div>
                              <div class="head-col-date">
                                <mat-form-field class="example-full-width mb-3">
                                  <mat-label>Start Date</mat-label>
                                  <input matInput [matDatepicker]="thSdPicker" [(ngModel)]="bSdate"
                                    (ngModelChange)="sDateChange($event)" [ngModelOptions]="{standalone: true}">
                                  <mat-datepicker-toggle matSuffix [for]="thSdPicker"></mat-datepicker-toggle>
                                  <mat-datepicker #thSdPicker></mat-datepicker>
                                </mat-form-field>
                              </div>
                              <div class="head-col-date">
                                <mat-form-field class="example-full-width mb-3">
                                  <mat-label>End Date</mat-label>
                                  <input matInput [matDatepicker]="thEdPicker" [(ngModel)]="bEdate" [min]="bSdate"
                                    (ngModelChange)="eDateChange($event)" [ngModelOptions]="{standalone: true}">
                                  <mat-datepicker-toggle matSuffix [for]="thEdPicker"></mat-datepicker-toggle>
                                  <mat-datepicker #thEdPicker></mat-datepicker>
                                </mat-form-field>
                              </div>
                              <div class="head-col-time">
                                <mat-form-field>
                                  <mat-label>Start Time</mat-label>
                                  <input matTimepicker [(ngModel)]="bStime" [ngModelOptions]="{standalone: true}"
                                    id="timepicker-example" mode="12h" (timeChange)="sTimeChangeHandler($event)">
                                </mat-form-field>
                              </div>
                              <div class="head-col-time">
                                <mat-form-field>
                                  <mat-label>End Time</mat-label>
                                  <input matTimepicker [(ngModel)]="bEtime" [ngModelOptions]="{standalone: true}"
                                    id="timepicker-example" mode="12h" (timeChange)="eTimeChangeHandler($event)"
                                    [minDate]="bStime">
                                </mat-form-field>
                              </div>
                              <div class="head-col-days">
                                <mat-form-field class="example-full-width  mb-3">
                                  <mat-label>Days</mat-label>
                                  <mat-select (ngModelChange)="daysChange($event)" [(ngModel)]="bDays"
                                    [ngModelOptions]="{standalone: true}" multiple>
                                    <mat-option *ngFor="let day of daysOfWeek" [value]="day.dayOfWeekId">
                                      {{ day.dayOfWeek }}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="head-col-tr">
                                <mat-form-field class="example-full-width mb-3">
                                  <mat-label>Trainer</mat-label>
                                  <mat-select (ngModelChange)="trainerChange($event)" [(ngModel)]="bTrainer"
                                    [ngModelOptions]="{standalone: true}">
                                    <mat-option *ngFor="let staff of staffs" [value]="staff.staffId">
                                      {{ staff.firstName }} - {{ staff.lastName }}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="head-col-assr">
                                <mat-form-field class="example-full-width mb-3">
                                  <mat-label>Assessor</mat-label>
                                  <mat-select (ngModelChange)="assessorChange($event)" [(ngModel)]="bAssessor"
                                    [ngModelOptions]="{standalone: true}">
                                    <mat-option *ngFor="let staff of staffs" [value]="staff.staffId">
                                      {{ staff.firstName }} - {{ staff.lastName }}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                            </div>
                            <div formArrayName="classArray">
                              <div *ngFor="let row of HFormGroup4.get('classArray')['controls']; let i=index">
                                <div class="table-body row" [formGroupName]="i">
                                  <div class="body-col-units" *ngIf="selectedCourseID">
                                    <mat-checkbox (click)="$event.stopPropagation()" checked="checked"
                                      (change)="$event ? toggle(row, $event) : null" formControlName="statusCheck">
                                      {{ row.get('unitName').value }}
                                    </mat-checkbox>
                                  </div>
                                  <div class="body-col-date">
                                    <mat-form-field class="example-full-width mb-3">
                                      <mat-label>Start Date</mat-label>
                                      <input matInput [matDatepicker]="sDpicker" formControlName="startDate">
                                      <mat-datepicker-toggle matSuffix [for]="sDpicker"></mat-datepicker-toggle>
                                      <mat-datepicker #sDpicker></mat-datepicker>
                                    </mat-form-field>
                                  </div>
                                  <div class="body-col-date">
                                    <mat-form-field class="example-full-width mb-3">
                                      <mat-label>End Date</mat-label>
                                      <input matInput [matDatepicker]="eDpicker" formControlName="endDate"
                                        (ngModelChange)="compareTwoDates2()">
                                      <mat-datepicker-toggle matSuffix [for]="eDpicker"></mat-datepicker-toggle>
                                      <mat-datepicker #eDpicker></mat-datepicker>
                                    </mat-form-field>
                                  </div>
                                  <div class="body-col-time">
                                    <mat-form-field>
                                      <mat-label>Start Time</mat-label>
                                      <input matTimepicker formControlName="startTime" id="timepicker-example"
                                        mode="12h">
                                    </mat-form-field>
                                  </div>
                                  <div class="body-col-time">
                                    <mat-form-field>
                                      <mat-label>End Time</mat-label>
                                      <input matTimepicker formControlName="endTime" id="timepicker-example" mode="12h"
                                        (ngModelChange)="compareTwoTimes()">
                                    </mat-form-field>
                                  </div>
                                  <div class="body-col-days">
                                    <mat-form-field class="example-full-width  mb-3">
                                      <mat-label>Days</mat-label>
                                      <mat-select formControlName="dayOfWeekId" multiple>
                                        <mat-option *ngFor="let day of daysOfWeek" [value]="day.dayOfWeekId">
                                          {{ day.dayOfWeek }}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                  <div class="body-col-tr">
                                    <mat-form-field class="example-full-width mb-3">
                                      <mat-label>Trainer</mat-label>
                                      <mat-select formControlName="teacherId">
                                        <mat-option *ngFor="let staff of staffs" [value]="staff.staffId">
                                          {{ staff.firstName }} - {{ staff.lastName }}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                  <div class="body-col-assr">
                                    <mat-form-field class="example-full-width mb-3">
                                      <mat-label>Assessor</mat-label>
                                      <mat-select formControlName="assessorId">
                                        <mat-option *ngFor="let staff of staffs" [value]="staff.staffId">
                                          {{ staff.firstName }} - {{ staff.lastName }}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <button mat-raised-button matStepperPrevious color="warn" class="msr-5">Back</button>
                    <button mat-raised-button matStepperNext color="primary">Next</button>
                  </div>
                </form>
              </mat-step> -->
            </mat-horizontal-stepper>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
