<section class="content">
  <div class="container-fluid">
    <div class="row clearfix newStudent">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Email</h2>
          </div>
          <div class="body">
            <div class="container">
              <!-- <div class="row">
                    <div *ngIf="dateValidate1.isError" class="alert alert-danger col-4 m-auto" id="closebtn">
                      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                      <strong>Warning!</strong> {{ dateValidate1.errorMessage }}
                    </div>
                  </div> -->
              <div class="row">
                <span class="section-heading"><i class="fas fa-bars"></i>
                  E-mail
                </span>
              </div>
              <form [formGroup]="HFormGroup1">
                <div class="section-content">
                  <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2" style="padding: 20px">
                      <span>From</span>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-select formControlName="fromEmailAddressId" (ngModelChange)="emailChange($event)">
                          <mat-option *ngFor="let item of fromEmails" [value]="item.fromemailaddressid">
                            {{ item.from_email_address }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2" style="padding: 20px">
                      <span>Template</span>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-select formControlName="testFC" (ngModelChange)="check($event)">
                          <mat-option *ngFor="let item of emailTemplates" [value]="item.emailtemplateid">
                            {{ item.emailtemplatename }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2" style="padding: 20px">
                      <span class="asterisk">Subject</span>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
                      <div class="specific-ckeditor">
                        <ckeditor formControlName="subject" [editor]="Editor" [config]="editorConfig" (ready)="onReady($event)" required
                          (paste)="onPaste($event)" (drop)="onDrop($event)" (change)="onChange($event)">
                        </ckeditor>
                      </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 mb-2" style="padding: 10px">
                      <section class="example-full-width mb-3">
                        <label class="example col-lg-5 col-md-5 col-sm-5: asterisk">Communication Type</label>
                        <mat-radio-group class="col-lg-7 col-md-7 col-sm-7" formControlName="communicationType">
                          <mat-radio-button
                            class="example-margin d-xs-inline-block d-sm-inline-block d-md-inline-block d-lg-inline-block"
                            value="S">SMS</mat-radio-button>
                          <mat-radio-button
                            class="example-margin d-xs-inline-block d-sm-inline-block d-md-inline-block d-lg-inline-block"
                            value="E">E-mail</mat-radio-button>
                        </mat-radio-group>
                      </section>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group has-feedback" [ngClass]="{
                          'has-error': Editor.invalid && Editor.touched
                        }">
                        <div style="text-align: center !important">
                          <div *ngFor="
                              let item of templateParameter;
                              let j = index;
                              let last = last
                            " style="display: inline-block">
                            <button mat-stroked-button color="accent" draggable="true" id="j" (dragstart)="
                                drag($event, item.templateparameterid)
                              " style="color: rgb(0, 0, 0); border-radius: 50px" class="msr-3">
                              {{ item.templateparametertitle }}
                            </button>
                          </div>
                        </div>
                        <div style="margin-top: 20px"></div>
                        <ckeditor formControlName="msg" [editor]="Editor" (ready)="onReady($event)" required
                          (paste)="onPaste($event)" (drop)="onDrop($event)" (change)="onChange($event)">
                        </ckeditor>
                        <div *ngIf="Editor.invalid && Editor.touched" class="help-block">
                          Required field.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <form [formGroup]="HFormGroup2">
                <div class="row">
                  <div formArrayName="docRows" *ngFor="
                      let item of HFormGroup2.get('docRows')['controls'];
                      let i = index;
                      let last = last
                    ">
                    <div class="row" [formGroupName]="i">
                      <div class="col-3">
                        <mat-form-field class="example-full-width">
                          <ngx-mat-file-input formControlName="documentLoc" placeholder="Choose File"
                            (change)="fileChangeEvent($event.target.files, i)">
                          </ngx-mat-file-input>
                          <mat-icon matSuffix [style.cursor]="'pointer'">cloud_upload</mat-icon>
                        </mat-form-field>
                      </div>
                      <div class="col-1" *ngIf="last">
                        <button type="button" mat-mini-fab color="accent"
                          aria-label="Example icon button with a plus one icon" (click)="addDocs()">
                          <mat-icon>plus_one</mat-icon>
                        </button>
                      </div>
                      <div class="col-1">
                        <button *ngIf="i > 0" type="button" mat-mini-fab color="warn"
                          aria-label="Example icon button with a plus one icon" (click)="removeDocs(i)">
                          <mat-icon>exposure_neg_1</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- <div>
                    <button mat-raised-button type="button" color="primary" (click)="onDocumentSubmit()">
                      Upload
                    </button>
                  </div> -->
                </div>
                <div class="row" style="padding-top: 20px">
                  <span class="section-heading"><i class="fas fa-bars"></i>
                    Recipients
                  </span>
                </div>
                <div class="section-content">
                  <div class="row">
                    <div *ngIf="errorsReq.isError" class="col-6 alert alert-danger m-auto text-center" id="closebtn">
                      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                      <strong>Warning!</strong> {{ errorsReq.errorMessage }}
                    </div>
                  </div>
                  <div class="newCourseUnit">
                    <div class="materialTableHeader" style="height: 140px !important;">
                      <div class="row m-auto">
                        <div class="col-2">
                          <div class="search row">
                            <div class="col-sm-12">
                              <mat-form-field class="example-full-width mr-5">
                                <mat-label style="color: rgb(7, 7, 7); font-size: 17px;">Course</mat-label>
                                <mat-select [formControl]="courseIntakeFilter">
                                  <mat-option *ngFor="let courseIntake of allCourseIntakeDate"
                                    [value]="courseIntake.courseid">
                                    {{ courseIntake.coursecode }} -
                                    {{ courseIntake.coursename }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="col-2">
                          <div class="search row">
                            <div class="col-sm-10">
                              <mat-form-field class="example-full-width mr-5">
                                <mat-label style="color: rgb(7, 7, 7); font-size: 17px;">Agent</mat-label>
                                <mat-select [formControl]="agentFilter">
                                  <mat-option *ngFor="let agent of allAgents"
                                    [value]="agent.agentid">
                                    {{ agent.agencyname }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="search row">
                            <div class="col-sm-12">
                              <mat-form-field class="example-full-width mr-5">
                                <mat-label style="color: rgb(7, 7, 7); font-size: 17px;">Application Status</mat-label>
                                <mat-select [formControl]="applicationStatusFilter">
                                  <mat-option *ngFor="let status of allApplicationStatus"
                                    [value]="status.applicationstatusid">
                                    {{ status.applicationstatusname }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="col-2">
                          <div class="col-sm-12">
                            <mat-form-field class="example-full-width mr-5">
                              <mat-label style="color: rgb(7, 7, 7); font-size: 17px;">Client Id</mat-label>
                               <input matInput type="text" [formControl]="specialClientIdFilter"/>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="search row">
                            <div class="col-sm-8">
                              <mat-form-field class="example-full-width mr-5">
                                <mat-label style="color: rgb(7, 7, 7); font-size: 17px;">Usi</mat-label>
                                 <input matInput type="text" [formControl]="usiFilter"/>
                              </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                              <button mat-mini-fab color="primary" (click)="search(courseIntakeFilter.value,agentFilter.value,applicationStatusFilter.value,specialClientIdFilter.value,usiFilter.value,studentNameFilter.value)">
                                <i class="fa fa-search"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="col-sm-12">
                            <mat-form-field class="example-full-width mr-5">
                              <mat-label style="color: rgb(7, 7, 7); font-size: 17px;">Student Name</mat-label>
                               <input matInput type="text" [formControl]="studentNameFilter"/>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="row">
                        <div class="col-3">
                          <div class="col-sm-12">
                            <mat-form-field class="example-full-width mr-5">
                              <mat-label style="color: rgb(7, 7, 7); font-size: 17px;">Student Name</mat-label>
                               <input matInput type="text" [formControl]="studentNameFilter"/>
                            </mat-form-field>
                          </div>
                        </div>
                      </div> -->
                    </div>
                    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                      <ng-container matColumnDef="rowID">
                        <mat-header-cell *matHeaderCellDef>
                          <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="
                              selection.hasValue() && !isAllSelected()
                            ">
                          </mat-checkbox>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row; let i = index">
                          <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                          </mat-checkbox>
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="clientId">
                        <mat-header-cell *matHeaderCellDef style="min-height: unset">
                          <div class="searchcolumn">
                            <mat-form-field class="filter" floatLabel="never">
                              <mat-label>Client Id</mat-label>
                              <input matInput style="color: white" [formControl]="clientIdFilter" />
                            </mat-form-field>
                          </div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" (click)="showInfo(row)" data-toggle="tooltip"
                          data-placement="right" title="click to view general info">{{ row.clientid }}</mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="firstName">
                        <mat-header-cell *matHeaderCellDef>
                          <mat-form-field class="filter" floatLabel="never">
                            <mat-label>First Name</mat-label>
                            <input matInput [formControl]="firstNameFilter" />
                          </mat-form-field>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" (click)="showInfo(row)" data-toggle="tooltip"
                          data-placement="right" title="click to view general info">
                          {{ row.firstname }}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="lastName">
                        <mat-header-cell *matHeaderCellDef>
                          <mat-form-field class="filter" floatLabel="never">
                            <mat-label>Last Name</mat-label>
                            <input matInput style="color: white" [formControl]="lastNameFilter" />
                          </mat-form-field>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" (click)="showInfo(row)" data-toggle="tooltip"
                          data-placement="right" title="click to view general info">
                          {{ row.lastname }}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="courseName">
                        <mat-header-cell *matHeaderCellDef>
                          <mat-form-field class="filter" floatLabel="never">
                            <mat-label>Course Name</mat-label>
                            <input matInput style="color: white" [formControl]="courseNameFilter" />
                          </mat-form-field>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" (click)="showInfo(row)" data-toggle="tooltip"
                          data-placement="right" title="click to view general info">
                          {{ row.coursename }}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef>
                          <mat-form-field class="filter" floatLabel="never">
                            <mat-label>Email</mat-label>
                            <input matInput style="color: white" [formControl]="emailFilter" />
                          </mat-form-field>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" (click)="showInfo(row)" data-toggle="tooltip"
                          data-placement="right" title="click to view general info">
                          {{ row.email }}
                        </mat-cell>
                      </ng-container>
                      <mat-header-row *matHeaderRowDef="displayedColumns">
                      </mat-header-row>
                      <mat-row class="table-row" [class.focus]="highlighter === i" tabindex="1" *matRowDef="
                          let row;
                          let i = index;
                          columns: displayedColumns
                        " [style.cursor]="'pointer'" matRipple>
                      </mat-row>
                    </mat-table>
                    <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="5"
                      [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>
                  </div>
                  <div>
                    <button mat-raised-button type="button" color="primary" (click)="onDocumentSubmit()">
                      Send
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
