<section class="content">
    <div class="container-fluid">
        <!-- <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Certificate</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/certificate/all-student">
                                <i class="fas fa-home"></i>All Student</a>
                        </li>
                        <li class="breadcrumb-item active">Generate Certificate</li>
                    </ul>
                </div>
            </div>
        </div> -->
        <!-- <div class="row clearfix editStudent">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                    </div>
                    <div id="content" #content>
                        <p style="margin-top: 170px">RTO Code: 45464</p><br><br><br>
                        <p style="font-size: 18px;">This is Certifiy That</p><br>
                        <p style="font-size: 20px; color: blue;">Student's Name</p><br>
                        <p style="font-size: 18px;">has fulfilled the requirements</p><br>
                        <p style="font-size: 20px;">Course Code</p>
                        <p style="font-size: 20px;">Course Name</p><br>
                        <p style="font-size: 15px;">Date: mm/dd/yyyy</p>
                        <p style="font-size: 15px;">Certificate No: NULL</p>
                        <img style="height: 323px" src="assets/images/certificate/Signature.png" alt="Signature">

                    </div>
                    <div id="content" #content1>
                        <p style="margin-top: 170px">RTO Code: 45464</p><br><br><br>

                    </div>
                    <button mat-raised-button color="primary" (click)="exportPDF()">Export to PDF</button>
                </div>
            </div>
        </div> -->
    </div>
</section>

<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Certificate Template</title>

  </head>
  <body>

  </body>
</html> -->


<!-- <div id="content" #content>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>23</td>
                <td>New Zealand</td>
            </tr>
            <tr>
                <td>Smith</td>
                <td>24</td>
                <td>Australia</td>
            </tr>
        </tbody>
    </table>
</div>
<button (click)="makePdf()">Generate PDF</button> -->

